

body {
  text-align: center;
  font-family: Helvetica;
}

.broadwayHeader {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-repeat: no-repeat;
  display: block;
}

.broadwayHeader h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.broadwayHeader p, a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.broadwayDiv1 h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.broadwayDiv1 h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.broadwayDiv1 p{
  font-family: Helvetica;
  font-size: 14px;
}

.initialDiv {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.footerDiv {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footerDiv p {
  color: inherit;
  font-size: 11px;
}
